Zankoku na tenshi no you ni
Shounen yo shinwa ni nare

Aoi kaze ga ima
Mune no doa wo tataite mo
Watashi dake wo tada mitsumete
Hohoenderu anata

Sotto fureru mono
Motomeru koto ni muchuu de
Unmei sae mada shiranai
Itaikena hitomi

Dakedo itsuka kizuku deshou
Sono senaka ni wa
Haruka mirai mezasu tameno
Hanega ga arukoto

Zankoku na tenshi no teeze
Madobe kara yagate tobitatsu
Hotobashiru atsui patosu de
Omoide wo uragiru nara
Kono sora wo daite kagayaku
Shounen yo shinwa ni nare

Zutto nemutteru
Watashi no ai no yurikago
Anata dake ga yume no shisha ni
Yobareru asa ga kuru

Hosoi kubisuji wo
Tsukiakari ga utsushiteru
Sekaijuu no toki wo tomete
Tojikometai kedo

Moshimo futari aeta koto ni
Imi ga aru nara
Watashi wa sou
Jiyuu wo shiru tame no baiburu

Zankoku na tenshi no teeze
Kanashimi ga soshite hajimaru
Dakishimeta inochi no katachi
Sono yume ni mezameta toki
Dare yori mo hikari wo hanatsu
Shounen yo shinwa ni nare

Hito wa ai wo tsumugi nagara
Rekishi wo tsukuru
Megami nante narenai mama
Watashi wa ikiru

Zankoku na tenshi no teeze
Madobe kara yagate tobitatsu
Hotobashiru atsui patosu de
Omoide wo uragiru nara
Kono sora wo daite kagayaku
Shounen yo shinwa ni nare