(Ye-e-Ye-e Ha-a Kort gungnir messa baggy)
(Ye-e-Ye-e Ha-a Kort gungnir messa brossy…Gungnir)

Ikuoku no rekishi wo koete
Kono mune no (Go) toikake ni (Go) kotae yo Shine

Honō yori atsui omoi yo
Kōtetsu no (Go) ikadzuchi de (Go) buttobase My Gungnir

Saisoku de saitan de icchokusen ni
Hikatta (Fly) asahi wo (Fly)
Kimi to tomo ni mitai (mitai) ima (ima) miageyō

Hibike (hibike) tsutae (tsutae) utae (utae)
Zenryoku de "hitori ja nai" to todoketai

Hibike (hibike) tsutae (tsutae) utae (utae)
Soshite! Waraō…! Kono sekai ni wa uta ga aru

Nando demo tachiagareru sa
Chotto dake (Go) kita michi wo (Go) mite goran?

Konna ni mo kagayaite iru
Tsumiageta (Go) monogatari (Go) uso wa nani mo nai

"Itsuka mirai ni hito wa tsunagareru…"
Daiji na (Fly) tomo kara (Fly)
Moratta kotoba zettai (zettai) yume (yume) tsumugu kara

Hibike (hibike) tsutae (tsutae) utae (utae)
Zenkai de ai no banka yo todoroite

Hibike (hibike) tsutae (tsutae) utae (utae)
Soshite! Yūki mo nani mo kamo wo zenbu tabaneyō

(Balwisyall nescell gungnir tron)

Kimi to watashi, minna, minna
Ayumi kitta, ashiato ni donna hana ga saku no kanā?

Naite, warai, umare ochita, namida, namida…
Kitto kirei na niji no hana ni natte saki utau…!

Hibike (hibike) tsutae (tsutae) utae (utae)
Zenryoku de "hitori ja nai" to todoketai

Hibike (hibike) tsutae (tsutae) utae (utae)
Soshite! Mata au sono hi made egao no "sayonara" da!
Zettai ni…zettai ni…!